<!DOCTYPE html>

<html>
<head>
    <title>Splash screen</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/splash.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
    <div id="left">
        <h1>Make a move</h1>
        <p id="Alert">&nbsp;</p>
        <section id="tutorial_move">
            <div color="Color1"></div>
            <div color="Color2"></div>
            <div color="Color1"></div>
            <div color="Color2"></div>
            <div color="Color2"></div>
            <div color="Color1"></div>
            <div color="Color2"></div>
            <div color="Color1"></div>
            <div color="Color1"></div>
            <div color="Color2"></div>
            <div color="Color1"></div>
            <div color="Color2"></div>
            <div color="Color2"></div>
            <div color="Color1"></div>
            <div id="animation" color="Color2">
                <img id="piece" src="images/BKing.png">
                <img id="cursor" src="images/cursor.png">
                <!--<img id ="hand-cursor" src="../images/hand-cursor.png">-->
            </div>
            <div color="Color1"></div>
        </section>
    </div>

    <div id="right">
        <!--<div id="logo">-->
        <image id="logo" src="../images/Logo chess game.png" title="Logo of chess game"></image>
        <!--</div>-->

        <!--<div id="play-button">-->
        <form id="play-button" action="../game/index.html">
            <button type="submit">Play</button>
        </form>
        <!--</div>-->

        <div id="statistics">
            <h4>Statistics</h4>
            <p>
                Players connected: <span id="stat1"><%= players_connected %></span></br>
                Games won: <span id="stat2"><%= games_won %></span></br>
                Queens conquered: <span id="stat3"><%= queens_conquered %></span>
            </p>
        </div>
    </div>
</main>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</body>
</html>