*{
    margin: 0;
    padding: 0;
}

main{
    background: slategray;
    height:800px;
    width:1200px;
}

#game{
    width:600px;
    height:800px;
    float:left;
    padding: 100px;
}

#board{
    width:600px;
    height:600px;
}

#game div[class = "Color1"]{
    background: white;

}

#game div[class = "Color2"]{
    background: black;
}

#game div{
    border: 1px solid black;
    height: 73px;
    width: 73px;
    float:left;
}

#buttons{
    float:left;
    padding:100px;
}

#buttons, #moves{
    display:inline-list-item;
}

#moves {
    width:200px;
    height:400px;
    float:left;
    padding-right:100px;
    padding-up:200px;
    overflow:scroll;
}

#moves p{
}

#moves p:nth-child(odd){
    background: black;
    color: white;
}

#moves p:nth-child(even){
    background: white;
    color:black;
}

#lost_pieces img, #conquered_pieces img{
    height:10px;
    width:10px;
}

#board div{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

