#right{
    float: right;
    height: 800px;
    width: 400px;
    position: relative;
}

button {
    font-size: 2em;
    background: darkblue;
    border-color: darkblue;
    padding: 18px 107px;
    float: left;
    position: absolute;
    /*right: 300px;*/
    bottom: 80px;
    /*top: 25px;*/
    right: 50px;
}

button:active{
    background:red;
    border-color: red;
}

button:hover::before{
    content:"!";
    font-size: 2em;
    color:red;
}

#game {
    width: 600px;
    height: 800px;
    float: left;
    /*padding: 75px;*/
    position:fixed;
    top: 75px;
    left: 100px;
}

#lost_pieces img, #conquered_pieces img {
    height: 10px;
    width: 10px;
}

#board {
    width: 600px;
    height: 600px;

}

#board:-webkit-full-screen{
    background: #feffea;
}



#board div[color = "Color2"]:hover {
    background: var(--hover-black);
    transition: background .5s ease;
    border-color: var(--hover-black);
}

#board div[color = "Color1"]:hover {
    background: var(--hover-white);
    transition: background .5s ease;
    border-color: var(--hover-white);
}

#board div[class = "Clicked"] {
    background: var(--clicked);
    border-color: var(--clicked);
}

#board div[class = "Clicked"]:hover {
    background: var(--clicked-hover);
    border-color: var(--clicked-hover);
}

#moves {
    width: 300px;
    height: 500px;
    float: left;
    margin: 95px 75px 20px 0;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
}

#moves p {
    color: black;
    visibility: hidden;
}

#moves p:nth-child(odd) {
    background: var(--black-color);
}

#moves p:nth-child(even) {
    background: var(--white-color);
}

#moves p:nth-child(even):hover::after{
    float:right;
    content: "Move by white";
    color: #9b9999;
}

#moves p:nth-child(odd):hover::after{
    float: right;
    content: "Move by black";
    color: #9b9999;
}

#moves p {
    visibility: visible;
}

#one_dot {
    animation-name: one_dot;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: .0;
}

@keyframes one_dot{
    24%{
        opacity: .0;
    }
    25%, 100%{
    opacity: 1;
    }
}

#two_dots{
    animation-name: two_dots;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: .0;
}

@keyframes two_dots{
    49%{
        opacity: .0;
    }
    50%, 100%{
        opacity: 1;
    }
}

#three_dots{
    animation-name: three_dots;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: .0;
}

@keyframes three_dots{
    74%{
        opacity: .0;
    }
    75%, 100%{
       opacity: 1;
    }
}


