main section{
    float:left;
    width:400px;
    overflow:hidden;
}

#tutorial{
    float:left;
    /*display:block;*/
}

#tutorial img{
    display:block;
}

div{
    padding:20px;
}

button{
    font-size: 5em;
    background: darkblue;
    border-color: darkblue;
    padding: 30px;
}

