* {
    margin: 0;
    padding: 0;
    font-size: 100%
}

:root {
    --black-color: #fff98e;
    --white-color: #feffea;
    --hover-white: #9b9999;
    --hover-black: #3063b5;
    --clicked: limegreen;
    --clicked-hover: lawngreen;
}

body {
    background: #efefef;
    height: 800px;
    width: 1200px;
}

button {
    float: left;
}

h1 {
    font-size: 5em;
}

div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

img {
    pointer-events: none;
}

button {
    color: white;
}

div[color = "Color1"] {
    background: var(--white-color);
    border: 1px solid var(--white-color);
}

div[color = "Color2"] {
    background: var(--black-color);
    border: 1px solid var(--black-color);
}

div[color="Color1"], div[color="Color2"] {
    height: 73px;
    width: 73px;
    float: left;
}
